<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>servlet1</display-name>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>com.servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <display-name>Library_management_system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servlet2</display-name>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>com.servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet3</display-name>
    <servlet-name>servlet3</servlet-name>
    <servlet-class>com.servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet3</servlet-name>
    <url-pattern>/servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mainn</display-name>
    <servlet-name>mainn</servlet-name>
    <servlet-class>library_management.com.company.mainn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainn</servlet-name>
    <url-pattern>/mainn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Books</display-name>
    <servlet-name>Books</servlet-name>
    <servlet-class>library_management.com.company.Books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Books</servlet-name>
    <url-pattern>/Books</url-pattern>
  </servlet-mapping>
</web-app>